@font-face {
    font-family:trispace ;
    src: url(/fonts/Trispace-VariableFont_wdth\,wght.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: trispace;
    font-style: italic;
}

.container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "left right"
    ;
}

.left-section{
    grid-area: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid black;
    height: 100vh;
   
    
}

.logo{
    width:100%;
    
}

.right-section{
    grid-area: right;
    
    background-color:#4914eb;
   
    
}

nav ul {
    display: flex;
    list-style-type: none;
    
    
}
nav > ul > li{
  padding: 50px;
  margin-left: 50px;
  
}

nav > ul >li > a{
    text-decoration:none;
    color: black;
    transition: ease-in 0.5s;
}

nav > ul > li > a:hover{
    text-shadow: 0px 0px 2px #fa1515,
    0 0 2px #ff2c2c,
    0 0 2px #f91515

    ;
    text-transform:uppercase;
}

main{
   padding-top: 50px;
}

.section-media > ul{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    list-style-type: none;

}

.section-media > ul > li {
    padding: 20px;
}

.section-media > ul > li > a{
    color: black;
}

  